-e git+https://github.com/konakaji/aae.git#egg=aae
matplotlib==3.3.4
numpy==1.19.1
pyzmq==22.3.0
qiskit==0.34.1
qiskit-aer==0.10.2
pandas==1.0.3
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.18.3
qiskit-ignis==0.7.0
qiskit-terra==0.19.1
Qulacs==0.3.0
requests==2.25.1
scikit-learn==0.24.1